@tailwind base;
@tailwind components;
@tailwind utilities;

/*Include polices*/
@layer base {
  @font-face {
    font-family: 'sans-extra';
    src: url(/fonts/OpenSansExtraBold.ttf);
  }
}

@layer base {
  @font-face {
    font-family: 'sans-bold';
    src: url(/fonts/OpenSansBold.ttf);
  }
}

@layer base {
  @font-face {
    font-family: 'sans-semi';
    src: url(/fonts/OpenSansemiBold.ttf);
  }
}

@layer base {
  @font-face {
    font-family: 'sans-regular';
    src: url(/fonts/OpenSansRegular.ttf);
  }
}

@layer base {
  @font-face {
    font-family: 'sans-light';
    src: url(/fonts/OpenSansLight.ttf);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, Arial;
}
